[mysqld]
user                    = mysql
port                    = 3306
datadir                 = /data/mysql

skip-name-resolve
server-id=111
log-bin=primary-bin.log
binlog_format="MIXED"
expire_logs_days = 7
sync_binlog=1
innodb_buffer_pool_size=6G
innodb_flush_log_at_trx_commit=1
innodb_file_per_table=1
innodb_strict_mode  = 0
log_bin_trust_function_creators=1
replicate-wild-ignore-table=mysql.%
auto-increment-offset = 1
sync_master_info = 1
sync_relay_log = 1
sync_relay_log_info = 1
slave-net-timeout=60
max_connections = 3000
character-set-server=utf8
collation-server=utf8_general_ci
max_allowed_packet = 150M
thread_stack = 192K
innodb_thread_concurrency=0

# tmp & heap
tmp_table_size = 32M
max_heap_table_size = 32M
sort_buffer_size = 250K
innodb_sort_buffer_size = 250K
max_length_for_sort_data = 8192
read_buffer_size = 8M
join_buffer_size = 8M
innodb_log_buffer_size = 16M
innodb_log_file_size = 1G
innodb_autoextend_increment = 128M
ft_min_word_len = 2
lower_case_table_names=0

#used by replication
master_info_repository = TABLE
relay_log_info_repository = TABLE
relay_log_recovery=1
auto-increment-increment = 1

#log
slow_query_log=1
long_query_time=1
log-error=mysql-error.log
innodb_print_all_deadlocks=1